<form>
  <h1>Atualizando Livro</h1>
  <mat-form-field class="campoDoFormulario">
    <mat-label>Título</mat-label>
    <input
      matInput
      [(ngModel)]="livro.titulo"
      [formControl]="titulo"
      required
      name="titulo"
      placeholder="Ex.: Curso Spring Boot com Angular 10"
      maxlength="100"
    />
    <mat-error *ngIf="titulo.invalid"> {{ getMessageTitulo() }} </mat-error>
  </mat-form-field>

  <mat-form-field class="campoDoFormulario">
    <mat-label>Autor</mat-label>
    <input
      matInput
      [(ngModel)]="livro.autor"
      [formControl]="autor"
      required
      name="autor"
      placeholder="Ex.: Eliseu Netto"
      maxlength="100"
    />
    <mat-error *ngIf="autor.invalid"> {{ getMessageAutor() }} </mat-error>
  </mat-form-field>

  <mat-form-field class="campoDoFormulario">
    <mat-label>Texto</mat-label>
    <textarea
      matInput
      [(ngModel)]="livro.texto"
      [formControl]="texto"
      required
      name="texto"
      placeholder="Ex.: Lorem ipsum"
      maxlength="2000000"
    ></textarea>
    <mat-error *ngIf="texto.invalid"> {{ getMessageTexto() }} </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      [disabled]="getMessageFieldErro()"
      (click)="update()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      Atualizar
    </button>

    <button
      (click)="cancelar()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
