.footer {
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    font-size: .8rem;
    height: 4%;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: dodgerblue;
}

span {
    font-size: 1.2rem;
    font-weight: 500;
}