<form>
  <mat-card class="home mat-elevation-z4">
    <mat-card-title>{{ livro.titulo }}</mat-card-title>
  </mat-card>

  <mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle"
      >por {{ livro.autor }}</mat-card-subtitle
    >
    <button (click)="cancelar()" mat-stroked-button color="warn">
      <mat-icon>keyboard_return</mat-icon>
    </button>
  </mat-card>

  <mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">{{ livro.texto }}</mat-card-subtitle>
  </mat-card>
</form>
